@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


li,a,button{
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.bg-navbar{
  background-color: #00B4D8;
  width: 100%;
  height: 100px;
  z-index: -99;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0px;
}

.logo{
  font-size: 30px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
}

.nav_links{
  list-style: none;
}

.nav_links li{
  display: inline-block;
  margin: 0 10px;
}

.nav_links li a{
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
  color: #66cde2;
}

.cta a{
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.cta a:hover{
  background-color: rgba(0, 136, 169, 0.8);
}